<% if user_signed_in? %>
  <ul class="nav">
    <%= link_to 'Home', root_path, class: "brand" %>
  </ul>
  <ul class="nav pull-right">
  <li>
    <p class="navbar-text">
      <%=t 'Welcome' %>, <%= link_to current_user.email, edit_user_registration_path %>
      [<%= link_to 'Logout', destroy_user_session_path, method: :delete %>]
    </p>
  </li>
</ul>
<% end %>
