<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="container-fluid nav-collapse">
        <%= render 'layouts/navigation' %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= bootstrap_flash %>
  <%= yield %>
</div>

</body>
</html>
